body {
	font-family: 'Noto Sans CJK JP', sans-serif;
	color: #2c2b2c;
	background: #f5f6f9;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.8px;
	position: relative;
}

.pc { display: block !important; }
.sp { display: none !important; }

a:hover {
	opacity: 0.7 ;
}

a img:hover {
	opacity: 0.7 ;
}

button:hover {
	opacity: 0.7 ;
}


/*---------------animation---------------*/
.animation {
	opacity : 0;
	visibility: hidden;
	transition: 0.5s;
	transform: translateY(20px);
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
}
.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*--------------header--------------*/
header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 9999;
}

nav {
	width: 100%;
	height: 82px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6.25%;
	margin: 0 auto;
	position: relative;
}

.header-nav.change-color {
	height: 80px;
	background: #fff;
	color: #1a3c9d;
}

.nav-scroll {
	display: block !important;
}

nav ul{
	width: 635px;
	height: 17px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul .contact{
	padding: 16px 25px;
	background: #222;
	color: #1a3c9d;
}

nav li {
	margin-left: 32px;
}

nav li:first-childe {
	margin-left: 0;
}

.company-name-sp {
	display: none;
}

.language {
	margin-left: 0;
}

.language::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 17px;
	background: #fff;
	margin: 0 20px;
}

.language a {
	opacity: 0.6;
}

/*--------------hamburger------------*/
.hamburger {
  display: none;
  width: 40px;
  margin-right: 15px;
  position: absolute;
  top: 24px;
  right: 0px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after{
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 1px;
  background-color: #222;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(32deg) translate(4px, 8px);
}

.hamburger.on span:after {
  transform: rotate(-32deg) translate(4px, -8px);
}

/*---------------drower---------------*/
.drower {
  height: 571px;
  width: 100vw;
  padding-top: 55px;
  background-color: #fff;
	display: block;
	position: fixed;
	z-index: 9;
	display: none;
}

.drower li {
	width: 100%;
	height: 61px;
	text-align: center;
	display: block;
}

.drower li p {
	height: 100%;
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
	,margin: 0 25px;
}

.border-btm {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #555;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drower li:last-child .border-btm{
	border: none;
}

.language-sp {
	height: 66px;
}

.language-sp p {
	border-bottom: none;
}

.language-sp a {
	opacity: 0.6;
}

.space {
	display: inline-block;
	margin: 0 20px;
}

.contact-sp {
	height: 40px;
	background: #222;
	color: #fff;
}

.contact-sp p {
	padding-top: 15px;
}


/*-------------mainvisual-------------*/
.mainvisual {
	width: 100%;
	height: 43.75vw;
	background: url(../img/main_pc.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.scroll-wrapper {
	margin-right: 60px;
}

.scroll-wrapper p {
	margin-bottom: 15px;
}

.scroll-bar {
	width: 1px;
	height: 120px;
	display: block;
	margin-left: 5px;
	position: relative;
	overflow: hidden;
}

.scroll-bar::before {
	background: #fff;
	content: "";
	position: absolute;
	left: 0;
	height: 120px;
	width: 1px;
	animation: SlideIn 1.8s infinite;
	z-index: 1;
}

@keyframes SlideIn {
	0% {
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(150px);
	}
}

/*------------------topics------------------*/
.topics-wrapper {
	width: 100%;
	height: 100%;
	padding: 61px 0 69px;
}

.topics-inner {
	width: 1400px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.topics-tit-wrapper {
	width: 337px;
	height: auto;
	border-right: 1px solid #c5cce2;
}

.topics-img-wrapper {
	width: 968px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1px;
	background: #c5cce2;
}

.topics-img-wrapper li {
	width: 324px;
	background: #f5f6f9;
	padding: 0 30px;
}

li.top30 {
	padding-top: 30px;
}

li.btm30 {
	padding-bottom: 30px;
}

.topics-img-wrapper .img-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 19px;
}

.topics-img-wrapper .time {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin-bottom: 11px;
}

.topics-img-wrapper .read {
}


/*--------------topscroll-btn-------------*/
/*.topBtn {
  position:fixed;
  right: 40px;
  z-index: 10;
  bottom: 500px;
  height:60px;
}

.topBtn-wrapper {
	max-width: 1600px;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 60px;
	height: 60px;
}*/

/*----------------footer----------------*/
footer {
	width: 100%;
	height: 170px;
	padding-top: 42px; 
	background: #222;
	color: #fff;
	line-height: 14px;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.company-name-w {
	display: block;
}

.company-name-sp {
	display: none;
}

.footer-right { 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-wrapper ul {
	width: 680px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}



/*-------------sp----------------*/
@media screen and (max-width: 758px) {
	body {
		max-width: 750px;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.8px;
	}

	.pc { display: none !important; }
	.sp { display: block !important; }




/*--------------hamburger--------------*/
	.hamburger {
	  display: block;
	}

/*--------------header--------------*/

/*--------------topscroll-btn-------------*/
.topBtn {
  right: 15px;
  bottom: 40px;
  height:40px;
}

.topBtn-wrapper {
	width: 100%;
	max-width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 40px;
	height: 40px;
}

/*----------------footer----------------*/












	}