body {
	font-family: 'Noto Sans CJK JP', sans-serif;
	color: #2c2b2c;
	background: #f5f6f9;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.8px;
	position: relative;
}

.pc { display: block !important; }
.sp { display: none !important; }


.img-wrapper {
	overflow: hidden;
}

.img-wrapper img {
	display: block;
	transition-duration: 0.3s;
}

a:hover .img-wrapper img {
	transform: scale(1.05);
	transition-duration: 0.3s;
}

a:hover .img-wrapper img {
	transform: scale(1.05);
	transition-duration: 0.3s;
}

a:hover .text-wrapper p {
	opacity: 0.7 ;
}

a:hover .text-wrapper h2 {
	opacity: 0.7 ;
}

a:hover .btn-link {
	opacity: 0.7 ;
}

button:hover {
	opacity: 0.7 ;
}

a:hover li:hover {
	opacity: 0.7 ;
}


.btn-link {
	width: 200px;
	height: 60px;
	color: #fff;
	background: #222;
	text-align: center;
}

/*---------------animation---------------*/
.animation {
	opacity : 0;
	visibility: hidden;
	transition: 0.5s;
	transform: translateY(20px);
	-moz-transition-delay:200ms;
	-webkit-transition-delay:200ms;
	-o-transition-delay:200ms;
	-ms-transition-delay:200ms;
}
.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*--------------header--------------*/
header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 9999;
}

nav {
	width: 100%;
	height: 82px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6.25%;
	margin: 0 auto;
	position: relative;
}

.header-nav.change-color {
	height: 80px;
	background: #fff;
	color: #1a3c9d;
}

.nav-scroll {
	display: block !important;
}

.pc-nav {
	width: 635px;
	height: 17px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pc-nav li {
	margin-left: 32px;
}

.pc-nav li:first-child {
	margin-left: 0;
}

.company-name-sp {
	display: none;
}

.language {
	margin-left: 0;
}

.language::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 17px;
	background: #fff;
	margin: 0 20px;
}

.language a {
	opacity: 0.6;
}

/*--------------hamburger------------*/
.hamburger {
  display: none;
  width: 30px;
  margin-right: 15px;
  position: absolute;
  top: 17px;
  right: 0px;
}

.hamburger span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.hamburger.on span {
  transform: rotate(32deg) translate(3px, 6px);
}

.hamburger.on span:after {
  transform: rotate(-64deg) translate(8px, -4px);
}

/*---------------drower---------------*/
.drower {
  height: 571px;
  width: 100vw;
  padding-top: 55px;
  background-color: #fff;
	display: block;
	position: fixed;
	z-index: 9;
	display: none;
}

.drower li {
	width: 100%;
	height: 61px;
	text-align: center;
	display: block;
}

.drower li p {
	height: 100%;
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
	,margin: 0 25px;
}

.border-btm {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #555;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drower li:last-child .border-btm{
	border: none;
}

.language-sp {
	height: 66px;
}

.language-sp p {
	border-bottom: none;
}

.language-sp a {
	opacity: 0.6;
}

.space {
	display: inline-block;
	margin: 0 20px;
}

.contact-sp {
	height: 40px;
	background: #222;
	color: #fff;
}

.contact-sp p {
	padding-top: 15px;
}


/*-------------mainvisual-------------*/
.mainvisual {
	width: 100%;
	height: 43.75vw;
	background: url(../img/main_pc.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.scroll-wrapper {
	margin-right: 60px;
}

.scroll-wrapper p {
	margin-bottom: 15px;
}

.scroll-bar {
	width: 1px;
	height: 120px;
	display: block;
	margin-left: 5px;
	position: relative;
	overflow: hidden;
}

.scroll-bar::before {
	background: #fff;
	content: "";
	position: absolute;
	left: 0;
	height: 120px;
	width: 1px;
	animation: SlideIn 1.8s infinite;
	z-index: 1;
}

@keyframes SlideIn {
	0% {
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(150px);
	}
}

/*------------------topics------------------*/
.topics-wrapper {
	width: 100%;
	height: 100%;
	padding: 61px 0 69px;
}

.topics-inner {
	width: 1400px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.topics-tit-wrapper {
	width: 337px;
	height: auto;
	border-right: 1px solid #c5cce2;
}

.topics-img-wrapper {
	width: 968px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1px;
	background: #c5cce2;
}

.topics-img-wrapper li {
	width: 324px;
	background: #f5f6f9;
	padding: 0 30px;
}

.topics-img-wrapper li a {
	width: 100%;
	height: auto;
}


li.top30 {
	padding-top: 30px;
}

li.btm30 {
	padding-bottom: 30px;
}

.topics-img-wrapper .img-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 19px;
}

.topics-img-wrapper .time {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin-bottom: 11px;
}

.topics-img-wrapper .read {
}


/*--------------about--------------*/
.about-wrapper {
	width: 100%;
	height: auto;

}

.about-inner {
	width: 1400px;
	height: 500px;
	color: #fff;
	background: url(../img/about_bk_pc.png) no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	padding: 0 120px;
	display: flex;
	position: relative;
}

.about-wrapper .text-wrapper {
	width: 100%;
	height: auto;
	padding-top: 61px;
	margin-right: 80px;
}

.about-wrapper h1 {
	margin-bottom: 74px;
}

.about-wrapper .text-happiness {
	margin-bottom: 54px;
}

.about-wrapper .text-inner {
	width: 466px;
	height: auto;
	line-height: 22px;
}

.about-wrapper .img-wrapper {
	margin-top: 21px;
}

.about-wrapper .btn-link {
	width: 400px;
	height: 80px;
	position: absolute;
	bottom: -42px;
	right: 40px;
}

/*--------------service-------------*/
.service-wrapper {
	width: 100%;
	height: auto;
}

.service-inner {
	width: 1400px;
	height: auto;
	padding-top: 103px;
	margin: 0 auto;
}

.service-wrapper h1 {
	margin-bottom: 44px;
}

.service-img-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.service-wrapper h2 {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 21px;
}

.service-wrapper h2::after {
	content: "";
	width: 60px;
	height: 1px;
	background: #1a3c9d;
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
}

.service-img-wrapper li{
	position: relative;
}

.service-img-wrapper li .btn-link {
	position: absolute;
	bottom: -30px;
	right: 38px;
}

.service-wrapper .btn-wrapper {
	width: 100%;
	height: auto;
	padding: 0 120px;
	display: flex;
	justify-content: space-between;
}

.service-wrapper .btn-wrapper li{
	padding-top: 70px;
}

.service-wrapper .btn-wrapper li a {
	width: 579px;
	height: 180px;
	display: flex;
}

.service-wrapper .btn-wrapper .text-wrapper {
	width: 100%;
	height: 100%;
	background: #fff;
	padding-left: 40px;
	display: flex;
	align-items: center;
	position: relative;
}

.service-wrapper .btn-wrapper .text-wrapper .link-icon {
	position: absolute;
	right: 19px;
	height: 20px;
}

/*--------------studios-------------*/
.studios-wrapper {
	width: 100%;
	height: auto;
}

.studios-inner {
	width: 1400px;
	height: auto;
	margin: 0 auto;
	padding-top: 60px;
}

.studios-inner h1 {
	margin-bottom: 38px;
}

.studios-img-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.studios-img-wrapper li {
	margin-bottom: 92px;
	position: relative;
}

.studios-img-top {
	width: 100%;
	height: auto;
}

.studios-img-btm {
	width: 698px;
	height: auto;
}

.studios-img-wrapper li .text-wrapper {
	background: #fff;
	border-bottom: 2px solid #1a3c9d;
	height: 133px;
	position: absolute;
	left: 0;
	bottom: -52px;
}

.studios-img-wrapper li .text-inner {
	width: 100%;
	height: 100%;
	padding: 30px 20px;
	position: relative;
}

.studios-img-top .text-wrapper {
	width: 1000px;
}

.studios-img-btm .text-wrapper {
	width: 600px;
}

.studios-img-wrapper li h2 {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #1a3c9d;
	margin-bottom: 14px;
}

.studios-img-wrapper .studios-img-top .text {
	width: 680px;
}

.studios-img-wrapper .studios-img-btm .text {
	width: 380px;
}

.btn-linkB {
	width: 125px;
	height: 21px;
	position: absolute;
	right: 20px;
	bottom: 28px;
}

.btn-linkB p {
	line-height: 21px;
}

.btn-linkB p:after {
	content: "";
	width: 34px;
	height: 21px;
	background: url(../img/linkicon_B_pc.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

/*--------------news-------------*/
.news-wrapper {
	width: 100%;
	height: 100%;
	padding: 20px 0 69px;
}

.news-inner {
	width: 1400px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.news-tit-wrapper {
	width: 337px;
	height: auto;
	border-right: 1px solid #c5cce2;
}

.news-tit-wrapper h1 {
	margin-left: 5px;
	margin-bottom: 60px;
}

.news-text-wrapper {
	width: 968px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1px;
	background: #c5cce2;
}

.news-text-wrapper li {
	width: 324px;
	background: #f5f6f9;
	padding: 60px 35px;
}

.news-text-wrapper li a {
	width: 100%;
	height: auto;
}

.news-text-wrapper .time {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 18px;
}

.news-text-wrapper .notice {
	line-height: 14px;
	color: #1a3c9d;
	margin-bottom: 32px;
}

/*--------------recruit & contact=info-------------*/
.rec-con-wrapper {
	width: 100%;
	height: auto;
	padding-top: 60px;
}

.rec-con-inner {
	width: 1600px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.recruit-wrapper h1{
	padding-left: 100px;
	margin-bottom: 40px;
}

.recruit-inner {
	width: 799px;
	height: 240px;
	background: url(../img/recruit_img_pc.png) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.recruit-wrapper .btn-wrapper {
	width: 305px;
	height: auto;
}

.recruit-wrapper .recruit-inner a{
	display: block;
}

.linkiconW {
	height: 21px;
	color: #fff;
	line-height: 21px;
}

.linkiconW:after {
	content: "";
	width: 34px;
	height: 21px;
	background: url(../img/linkicon_W_pc.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.recruit-wrapper .recruit-inner a {
	width: 305px;
}

.recruit-inner .btn-wrapper a:first-child {
	margin-bottom: 49px;
}

.contact-wrapper {
	width: 799px;
	height: auto;
}

.contact-wrapper h1{
	margin-bottom: 40px;
}

.contact-inner {
	width: 799px;
	height: 240px;
	background: url(../img/contact_img_pc.png) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contact-wrapper .btn-wrapper {
	width: 340px;
	height: auto;
}

/*--------------topscroll-btn-------------*/
/*.topBtn {
  position:fixed;
  right: 40px;
  z-index: 10;
  bottom: 500px;
  height:60px;
}

.topBtn-wrapper {
	max-width: 1600px;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 60px;
	height: 60px;
}*/




/*--------------footer-------------*/
.footer-top-wrapper {
	width: 100%;
	height: auto;
	padding: 40px 0 26px;
}

.footer-top-inner {
	width: 1400px;
	height: auto;
	margin: 0 auto;
}

.footer-company-name {
	margin: 25px;
}

.access {
	margin-bottom: 36px;
	line-height: 14px;
}

.footer-top-right {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
}

.footer-top-wrapper ul {
	width: 600px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	justify-content: space-between;
}

.footer-bottom-wrapper {
	width: 100%;
	height: 60px;
	background: url(../img/footer_bk_pc.png) no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	padding-top: 24px;
}

/*-------------sp----------------*/
@media screen and (max-width: 758px) {
	body {
		max-width: 750px;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.8px;
	}

	.pc { display: none !important; }
	.sp { display: block !important; }

/*--------------hamburger--------------*/
	.hamburger {
		display: block;
	}

/*--------------header--------------*/
header {
	height: 42px;
}

nav {
	height: 42px;
	padding: 0 4%;
}

.pc-nav {
	display: none;
}

.header-nav.change-color {
	height: 42px;
	background: #fff;
	color: #1a3c9d;
}

.company-name {
	width: 165px;
	height: auto;
}

.company-name img {
	width: 100%;
	height: auto;
}

/*--------------topscroll-btn-------------*/
.topBtn {
	right: 15px;
	bottom: 40px;
	height:40px;
}

.topBtn-wrapper {
	width: 100%;
	max-width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 40px;
	height: 40px;
}

/*----------------footer----------------*/












	}